# Python cache / bytecode
**/__pycache__/
*.py[cod]
# Virtual environment (if you use one locally)
.venv/
venv/

# Docker volumes (persistent DB data)
db_data/

# Environment files (secrets)
.env
.vscode/
.devcontainer/
